<h2>PRODUCTS</h2>
	<div>
	<table>
		<tr><th>Product ID</th><th>Product Name</th><th>Price</th></tr>
		<tr ng-repeat="product in productList">
			<td>{{product.productId}}</td>
			<td>{{product.name}}</td>
			<td>{{product.price}}</td>
			<td><button ng-click="addToCart({{product}})"> Add to Cart</button></td>
		</tr>
	</table>
	</div>
	
	<div>
	MyCart:
	<table>
		<tr><th></th><th></th></tr>
		<tr ng-repeat="product in cartprosuctList">
			<td>{{product.productId}}</td>
			<td>{{product.name}}</td>
			<td>{{product.price}}</td>
	</tr>
	</table>
	<A ng-href="#/invoice"> Express checkout</A>
	</div>
</div>